* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive
}
body
{
   background-image: url(../images/backgg.jpg);
   background-size: cover; 
   font-family: cursive; 
 
}
header
{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10PX;
    padding-left: 20px;
    padding-right: 20px;
    height: 62px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
   
}
header ul
{
    list-style-type: none;
    display: flex;
    width:794.583;
    justify-content: space-between;
    /* border:2px solid black;
    */
}
.navbar
{
    text-align: center;
    padding: 7px ;
   
}
.navbar a
{
    text-decoration: none;
    color: black;
}
.navbar a:hover
{
  color:#e1541c;
}

#logo
{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: bold;
    /* border:2px solid black; */
}
#logo span
{
    color: #e1541c;
}

.auth-button
{
    padding: 5px;
}
.auth-button .login
{
    padding: 5px 15px;
    border: 1px solid #333;
    background: none;
    font-size: 0.9em;
    border-radius: 8px;
    font-weight: bold;

}
.auth-button .signup
{
    padding: 5px 15px;
    border: 1px solid #333;
    background: #333;
    color: white;
    font-size: 0.9em;
    border-radius: 8px;
    font-weight: bold;

}
/* -----------------------------------main-------------------------------- */
main
{
    display:flex;
     justify-content: center;
     /* border: 1px solid black; */
     margin-top:  8% ;
     margin-bottom: 8%;
    
}
main .contact
{
    border: 1px solid #e6e6e6;
    width:600px;
    text-align: center;
    padding:30px;
    height: 450px;
    background-color: white;
    margin-left: 300px;
    border-radius: 20px;

}
.contact h3
{
    margin-bottom: 10px;
    
  
} 
.contact hr
{
   width: 25%;
   margin: 0 auto;
   border: 2px solid  #f56a28;
   border-radius: 3px;

  
   
}
main .title
{
    margin-top: 10%;
    
}
.title h1
{
    font-size: 3em;
}

input
{
    height:40px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 5px;
    border: 1px solid #ddd;
    
}
input[name="Email"],input[name="Subject"],textarea
{
    width:100%;
   
   
}
textarea
{
    resize: none;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #ddd;
}
input[name="firstName"],input[name="SecondName"]
{
    width:260px;
    margin-top: 15px;
    
}
/* -----------------------------footer----------------------------------- */
footer
{
    background-color: black;
   color: #fff;
  font-family: Arial, sans-serif;
}
footer .title
{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
footer .title span
{
    color:#e1541c;
}
footer .sales
{
    display: flex; 
    gap: 450px; 
}
footer .sales ul
{
    list-style-type: none;
}
footer .sales a
{
    text-decoration: none;
    color: #fff;
    
}
footer .sales a:hover
{
    color:#e1541c;
}

footer .sales h3
{
    margin-bottom: 4px;
}
footer .sales li
{
    padding: 6px;
    padding-left: 0px;
    
}
footer p
{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
