/* General Styles */
*{
    font-family: cursive;
}
body {
    font-family: cursive;
    background-color: #f5f5f5;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 30px;
    margin: 64px 37%;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 14px;
}

label {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
}

/* Input Styles */
.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #c48989;
    border-radius: 5px;
    padding: 8px;
    margin-top: 5px;
}

.input-container input {
    border: none;
    outline: none;
    flex: 1;
    padding-left: 5px;
}

.icons {
    width: 6%;
}

/* Buttons */
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: white;
    font-weight: bold;
}
